.Cell {
  background-color: whitesmoke;
  box-shadow: inset 2px 2px #ffffff, inset -2px -2px #808080,
    inset 4px 4px #ffffff, inset -4px -4px #808080;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.Cell.pressed {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.Cell.pressed + .Cell.pressed {
  border-left: none;
}

.Cell:nth-child(n + 9) {
  border-top: none;
}

.Cell.boom {
  background: url(../../assets/images/bmb.png) no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: #e22f2f;
}

.Cell.marked {
  background-image: url(../../assets/images/flag.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
