.Game {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  margin: auto;
  border: 2px solid gray;
  padding: 20px;
}

.Game.easy {
  width: 500px;
  height: 500px;
}

.Game.medium {
  width: 700px;
  height: 700px;
}

.Game.hard {
  width: 1100px;
  height: 700px;
}

.Game.custom {
  width: fit-content;
  min-width: 300px;
  height: auto;
}

.Game__header {
  display: flex;
  border: 2px solid gray;
}

.Game__content {
  height: 100%;
  margin-top: 24px;
  border: 2px solid gray;
}

.bombs_counter,
.timer,
.new_game {
  flex: 1 0 30%;
}

.new_game {
  text-align: center;
}

.timer {
  text-align: right;
}
