.Game {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  min-width: 300px;
  margin: auto;
  border: 2px solid gray;
  padding: 20px;
}

.Game__header {
  display: flex;
  border: 2px solid gray;
}

.Game__content {
  height: 100%;
  margin-top: 24px;
  border: 2px solid gray;
}

.bombs_counter,
.timer,
.new_game {
  flex: 1 0 30%;
}

.new_game {
  text-align: center;
}

.timer {
  text-align: right;
}
